[submodule "dependencies/inference"]
	path = dependencies/mlperf
	url = git@github.com:mlcommons/inference.git
[submodule "dependencies/tvm"]
	path = dependencies/tvm
	url = git@github.com:NathanTP/tvm.git 
[submodule "dependencies/kaas"]
	path = dependencies/kaas
	url = git@github.com:NathanTP/kaas.git
[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = git@github.com:NathanTP/cutlass.git
