[submodule "dependencies/fakefaas"]
	path = dependencies/fakefaas
	url = git@github.com:NathanTP/fakefaas.git
[submodule "dependencies/inference"]
	path = dependencies/mlperf
	url = git@github.com:mlcommons/inference.git
[submodule "dependencies/tvm"]
	path = dependencies/tvm
	url = https://github.com/apache/tvm
